<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mondiale 2014</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div ng-app="app">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <i class="fas fa-home"></i>
                    Pronostiek!
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbarContent" class="collapse navbar-collapse" ng-controller="nav as vm">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link" ui-sref="tournaments">Toernooien</a></li>
                        <li class="nav-item"><a class="nav-link" ui-sref="tournament.points" ng-if="vm.hasTournament">Stand</a></li>
                        <li class="nav-item"><a class="nav-link" ui-sref="tournament.overview" ng-if="vm.hasTournament">Overzicht</a></li>
                        <li class="nav-item"><a class="nav-link" ui-sref="tournament.statistics" ng-if="vm.hasTournament">Statistieken</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link" ui-sref="tournament.games" ng-if="vm.hasTournament">Mijn pronostieken</a></li>
                        }

                        @*Ugly and wrong, but IsInRole doesn't work and no time*@
                        @if (User.Identity.Name == "petermorlion")
                        {
                            <li class="nav-item"><a class="nav-link" ui-sref="tournament.admin" ng-if="vm.hasTournament">Admin</a></li>
                        }

                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </nav>

            <div class="container body-content">
                <div id="alertrContainer"></div>
                @RenderBody()
                <hr/>
                @*<footer>
                <p>&copy; @DateTime.Now.Year - Peter Morlion</p>
            </footer>*@
            </div>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
            @RenderSection("scripts", required: false)
            
            <script>
                $(document).on('click', '.navbar-collapse', function (e) {
                    if ($(e.target).is('a') && $(e.target).attr('class') !== 'dropdown-toggle') {
                        $(this).collapse('hide');
                    }
                });
            </script>
        </div>
    </div>
</body>
</html>
