@model KotProno2.Models.ViewModels.ManageUserViewModel

<p class="alert alert-info">
    Je hebt geen lokale gebruikersnaam en paswoord voor deze site. Voeg een lokale account to zodat je
    kan inloggen zonder een externe login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Een lokale login creëeren</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="lg-offset-2 col-lg-10">
            <input type="submit" value="Paswoord instellen" class="btn btn-default" />
        </div>
    </div>
}
