@model KotProno2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Paswoord vergeten";
}

<h2>@ViewBag.Title.</h2>

@if (ViewBag.StatusMessage != "")
{
    <p class="alert alert-success">@ViewBag.StatusMessage</p>
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <p>Paswoord vergeten? Geef hier je email adres op en je ontvangt een link om een nieuw paswoord in te stellen.</p>
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
            <input type="submit" class="btn btn-primary" value="Versturen">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
}